<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name= "showdata" value="Shailesh"/>
<parameter name= "Username" value="Shailesh"/>
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestPackages.Parameters"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
