<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="chromeDemo.ExtetntReportDemo"/>
      <class name="TestPackages.SearchForNoDataFound"/>
      <class name="TestPackages.jobTracker"/>
      <class name="TestPackages.UITestingClass"/>
      <class name="TestPackages.JavaExamples"/>
      <class name="TestPackages.NewTestClass"/>
      <class name="TestPackages.mpt"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
